html {
    background-color: gray;
}
a {
    text-decoration: none;
    color: inherit;
}
button {    
    border: none;
    background:none;
    border: 2px double black;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;

    width: 100%;
    background-color: cyan;
    border: 2px solid black;
}
header h3 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;    
    margin: 0 auto;
    padding: 8px;
    
}
header h1 {
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
}
.left-header {    
    display: flex;
    justify-content: space-between;
    width: 30%;    
    
}
.right-header {
    display: flex;
    justify-content: space-between;
    width: 30%;
        
}
.center-header {   
    flex-basis: 30%;
    border: 2px solid red;
}
.feat {
    position:relative;
    top: 70px;
    
}
#feat-cur {
    font-weight: bolder;
    font-size: 1.5em;
}
.feat-cont {
    /* Content is centered horizontally */
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.feat-column {    
    /* Content is centered vertically */
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;

    /* Make all columns have the same width */
    flex: 1;

    /* OPTIONAL: Space between columns */
    margin: 0 8px;
    padding: 50px 0;

    /* OPTIONAL: Border */
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    
}
.feat-column audio {
    
}
.feat-column h1{        
    color: white;    
    font-size: 32px;
    font-family: 'Cinzel', serif;
    letter-spacing: 10px;
}
.feat-column h2{        
    color: white;
    font-size: 25px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 2px;
}
#feat1 {
    background-image: url(./resources/img/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-repeat:no-repeat;
    background-size: 700px 600px;    
}
#feat2 {
    background-image: url(./resources/img/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-repeat:no-repeat;
    background-size: 700px 600px;
}
#feat3 {
    background-image: url(./resources/img/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-repeat:no-repeat;
    background-size: 700px 600px;    
}
.beats-drop {
    position: relative;
    /* Hide the dropdown's content by default */
}
.cont-drop {
    font-family:'Bebas Neue', cursive ;
    display: none;
    /* Position it right below the trigger element */
    left: 0;
    padding-top: 4px;
    position: absolute;
    top: 100%;

    /* It should be on the top of other elements */
    background-color: #fff;
    border: 2px solid black;

    z-index: 9999;


    /* Size */
    height: 400px;
    width: 200px;
    
}
.cont-drop h3{
    font-family: 'Cinzel', serif;  
    line-height: 70px;
    border-top: 5px double black;
    border-bottom: 5px double black;
}
.beats-drop:hover .cont-drop {
    display: block;
}


@media only screen and (max-width: 1100px){
    header h3 {
        font-family: 'Bebas Neue', cursive;                                    
        font-size: 13px;
    }
    .left-header {    
        display: flex;
        justify-content: space-between;
        width: 60%;            
    }
    .right-header {
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    .center-header {   
        flex-basis: 15%;
        border: 2px solid red;
    }
    .center-header h1{   
        font-size: 9px;        
    }
}